<div class="page">
  <div class="card">
    <h2 class="title">Cadastro</h2>

    @if (msg) {
      <div class="msg">{{ msg }}</div>
    }

    <div class="result">
      <div class="field">
        <label>Nome</label>
        <input
          type="text"
          [(ngModel)]="nome"
          maxlength="100"
          placeholder="Até 100 caracteres"
          />
      </div>

      <div class="field">
        <label>CPF</label>
        <input
          type="text"
          [(ngModel)]="cpf"
          maxlength="11"
          placeholder="Até 11 caracteres"
          />
      </div>

      <div class="field">
        <label>Cidade</label>
        <input
          type="text"
          [(ngModel)]="cidade"
          maxlength="50"
          placeholder="Até 50 caracteres"
          />
      </div>

      <div class="actions bottom">
        <button class="btn btn-blue" type="button" (click)="salvar()">
          Salvar
        </button>
        <button class="btn btn-gray" type="button" (click)="voltar()">
          Voltar
        </button>
      </div>
    </div>
  </div>
</div>
