<div class="container">
  <div class="header">Tela Principal</div>

  <div class="actions">
    <button class="btn btn-primary" routerLink="/pessoa/cadastro">Incluir</button>
    <button class="btn btn-warning" routerLink="/pessoa/alteracao">Alterar</button>
    <button class="btn btn-secondary" disabled>Consultar</button>
    <button class="btn btn-danger" disabled>Excluir</button>
  </div>

  <div class="form-actions" style="justify-content:center; margin-top: 24px;">
    <button class="btn btn-secondary" (click)="sair()">Sair</button>
  </div>
</div>
